
body{
	background-image: linear-gradient(to right, white,#c0d9d9, white);
	background-repeat: no-repeat;
}

/*MENU*/
.menu-responsivo{
	display: block;
}

.menu-responsivo{
	z-index: 99999;
	position: fixed;
	width: 100%;
	height: 0;
	left: 0;
	top: -200px;
	transition: .2s;
}

.menu-responsivo ul {
		margin-top: 0px;
		margin-left: -50px;
		list-style: none;
		text-align: center;
		background-color: red;
}

.menu-responsivo ul li a {
		font-size: 20px;
		padding: 10px;
		display: block;
		color: white;
		border-bottom: solid 1px white;
		text-decoration: none;
		text-transform: uppercase;
		transition: .5s;
}

.menu-responsivo ul li a:hover {
	color: red;
}
.menu-responsivo.ativo {
	top: 0;
}

/*TOGGLE*/
.toggle{
	float: right;
	font-size: 30px;
	display: none;
	margin-top: 50px;
	margin-bottom: 50px;
}

.toggle i{
	border: solid 1px;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 30px	;
	color: black;
	transition: .3s;
}
.layout{
	transition:.2s;
}
.layout.ativo{	
	padding-top: 200px
}



.menu ul{
	padding-top: 30px;
	padding-bottom: 30px;
}

.menu ul li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.menu ul li a {
	color: black;
	font-size: 20px;
	text-decoration: none;
	transition: .3s;
}

.menu ul li a:hover {
	color: red;
	border-bottom: solid 3px;
	padding-bottom: 5px;
}


.inicio{
	margin-top:-30px;
}
.opala img{
	width: 100%;
	border-radius: 10px;
}
.motor img{
	width: 100%;
	border-radius: 10px;
}
.motor1 img{
	width: 35%;
	border-radius: 10px;
	margin-bottom: 15px;
}
.logo img{
	width: 100%;
	height: 20%;
}
.topo{
	background-image: url(imagens/logo22.jpg);
	background-position: top;
	background-size: 1200px;
	height: 100px;		


}
.inicio h1{
	margin-top: 40px;
	font:italic bold small-caps 30px;
	color: #666666;
	text-align: left;
	font-size: 40px;
	margin-left: 15px;
}
.inicio h2{
	margin-top: 10px;
	font:italic bold small-caps 30px;
	color: #666666;
	text-align: left;
	font-size: 40px;
	margin-left: 15px;
}
.rodape i{
	font-size: 35px;
	margin-top: 35px;
	margin-left: 35px;
	color: #8470FF;
}
.rodape {
	background-image: url('imagens/logo22.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 1200px;
	height: 120px;
	margin-bottom: 40px;
}
.twiter i{
		font-size: 35px;
	margin-top: -35px;
	margin-left: 75px;
	color: #8470FF;

}
@media (max-width: 991px){
.menu-responsive{
	display: block;
}
	.toggle{
		display: block;
	}

	.menu{
		display: none;
	}

	.row h3 {
		margin-top: 0px;
		color: black;
		margin-bottom: 100px;
	}

	.row-1 {
		margin-bottom: 0px;
	}

	.col-md-4{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.footer{
		margin-top: 0;
	}
}
@media (max-width: 748px){
.menu1{
	display: none;
}
.inicio img{
	width: 100%;
}
.inicio h4{
	font-size:35px;
	margin-left: 1px;
	margin-right: 1px;
}
.inicio h2{
	font-size: 45px;
	
	text-align: center;
}
.conteudo img{
	width: 100%;
}
.conteudo h1{
	font-size: 45px;
	text-align: center;
}
.conteudo h4{
	font-size: 35px;

}
.opala img{
	width: 100%;
}

}