.topo{
	background-image: url(imagens/logo22.jpg);
	background-position: top;
	background-size: 1200px;
	height: 100px;		


}
/*MENU*/
.menu-responsivo{
	display: block;
}

.menu-responsivo {
	z-index: 99999;
	position: fixed;
	width: 150px;
	height: 0;
	left: 50px;
	top: -200px;
	transition: .2s;
}

.menu-responsivo ul {
		margin-top: 0px;
		margin-left: -50px;
		list-style: none;
		text-align: center;
		background-color: red;
}

.menu-responsivo ul li a {
		font-size: 20px;
		padding: 10px;
		display: block;
		color: white;
		border-bottom: solid 1px white;
		text-decoration: none;
		text-transform: uppercase;
		transition: .5s;
}

.menu-responsivo ul li a:hover {
	color: red;
}
.menu-responsivo.ativo {
	top: 0;
}

/*TOGGLE*/
.toggle{
	float: right;
	font-size: 30px;
	display: none;
	margin-top: 50px;
	margin-bottom: 50px;
}

.toggle i{
	border: solid 1px;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 30px	;
	color: black;
	transition: .3s;
}



/* EFEITO DO LAYOUT ESCORREGANDO PRA BAIXO*/
.layout{
	transition:.2s;
}
.layout.ativo{	
	padding-top: 200px
}



.menu ul{
	padding-top: 30px;
	padding-bottom: 30px;
}

.menu ul li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.menu ul li a {
	color: black;
	font-size: 20px;
	text-decoration: none;
	transition: .3s;
}

.menu ul li a:hover {
	color: red;
	border-bottom: solid 3px;
	padding-bottom: 5px;
}







/* ALINHAR FOTOS*/

/* esse aqui que vc tava se empenhando pra descobrir, pra zerar as bordas*/
.col-md-4 {
	padding: 7px; 
}



/*aqui vai alinhar as 3 fotos de baixo por conta do atributo negativo do H3*/
.row-1{
	margin-bottom: 255px;
}



/* margin-top negativo pra subir até a altura que quiser o texto, 
cada vez que alterar o negativo, vai ter que mexer no MARGIN-BOTTOM do ROW-1, logo acima*/
.row h3{
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	margin-top: -300px;
}

.footer {
	background-color: #a6b1bb;
	margin-top: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.rodape i{
	font-size: 35px;
	margin-top: 35px;
	margin-left: 35px;
	color: #8470FF;
}
.rodape {
	background-image: url('imagens/logo22.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 1200px;
	height: 120px;
}
.twiter i{
		font-size: 35px;
	margin-top: -35px;
	margin-left: 75px;
	color: #8470FF;

}






@media (max-width: 991px){

	.toggle{
		display: block;
	}

	.menu{
		display: none;
	}

	.row h3 {
		margin-top: 0px;
		color: black;
		margin-bottom: 100px;
	}

	.row-1 {
		margin-bottom: 0px;
	}

	.col-md-4{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.footer{
		margin-top: 0;
	}
}